.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.Name {
  padding:10px;
  text-align:left;
  height:150px;
  width:400px;
  border:.15em solid #cccccc;
  border-radius:8px;
}

.Footer {
  position:absolute;
  bottom:10px;
  width:100%;
}

h1 {
  font-size:20pt;
}

h2 {
  font-size:16pt;
}

.Wrapper {
  text-align: left;
  border:.15em solid #1795b1;  
  border-radius:8px;
  padding:20px;
  margin:20px;
  background:#fcffff;
}

Label {
  font-weight: bold;
}

.Sessions {
  margin:20px;
}

.Review {
  margin:20px;
  border:.15em solid #1795b1;  
  border-radius:8px;
  padding:20px;
}

a {
  color:#1795b1;
}

.Help {
  padding:20px;
}

.Help li {
  padding:10px;
}

.Dice {
  padding:10px;
}

.DiceBox {
  display:flex;
}